<div class="row">
    <div class="col-sm-8">
        <h1>{{article?.name}}</h1>
        <p>{{article?.description}}</p>
        <hr>
        <div class="row">
            <div class="col-sm-6 text-left">
                <prev-article></prev-article>
            </div>
            <div class="col-sm-6 text-right">
                <next-article></next-article>
            </div>
        </div>
        <hr>
        <div class="row">
            <comments [comments]="article?.comments"></comments>
        </div>
    </div>
    <div class="col-sm-4">
        <last-articles></last-articles>
    </div>
</div>

